---
layout: default
header_title_1: Frank Wünsch
header_title_2: Digitale Bewerbungsmappe
has_header: yes
has_sidebar_left: yes
has_sidebar_right: yes
heading_sidebar_left: Persönliche Daten
heading_sidebar_right: Referenzprojekte
head_title: Lebenslauf
heading_1: Praktische Erfahrung
group_1: Software Entwickler / SPS Programmierung
group_2: Industriemechaniker / Techniker
heading_2: Fort- und Weiterbildung
heading_3: Ausbildung
heading_4: Schulbildung
heading_5: Hobbies / Ehrenamt
heading_6: Sprachen
summary_1: Tätigkeitsbeschreibung
summary_2: Lerninhalte
contact_data: Kontaktdaten
---

<div class="pb-8 xl:pb-16 w-full h-full">
  <h1 class="h-12 xl:h-16">{{page.head_title}}</h1>
  <div class="w-full h-full overflow-y-auto snap-mandatory snap-y">
    <section class="min-h-full snap-start">
      <h2 class="sticky-title">{{page.heading_1}}</h2>
      {%for comp in site.data.experiences.companies reversed%}
      <div
        class="grid grid-cols-5 xl:grid-cols-6 w-full scroll-mt-14 xl:scroll-mt-24 snap-always snap-start col-gap"
      >
        <div class="grid col-span-2 xl:col-span-1">
          <div class="date">{{comp.year}}</div>
        </div>
        <div class="max-xl:hidden grid col-span-3 xl:col-span-5">
          <h3>{{comp.name}}</h3>
          <div>{{comp.company}}</div>
          <div>{{comp.street}}{%if comp.city%}, {{comp.city}}{%endif%}</div>
          <div class="-mt-1">
            {%if comp.info%}
            <details class="comp">
              <summary>{{page.summary_1}}</summary>
              <article class="pointer-events-auto">
                <ul class="pointer-events-none list-none company">
                  {%for item in comp.info%}
                  <li>{{item | markdownify}}</li>
                  {%endfor%}
                </ul>
              </article>
            </details>
            {%endif%}
          </div>
        </div>
        <!-- smartphone -->
        <div
          class="hidden max-xl:block col-span-full mx-auto w-full hyphens-auto"
          lang="de"
        >
          <h3>{{comp.name}}</h3>
          <div>{{comp.company}}</div>
          <div>{{comp.street}}{%if comp.city%}, {{comp.city}}{%endif%}</div>
          <div class="-mt-1">
            {%if comp.info%}
            <details class="-mt-4">
              <summary>{{page.summary_1}}</summary>
              <article class="pointer-events-auto">
                <ul class="pointer-events-none list-none company">
                  {%for item in comp.info%}
                  <li>{{item | markdownify}}</li>
                  {%endfor%}
                </ul>
              </article>
            </details>
            {%endif%}
          </div>
        </div>
      </div>
      {%endfor%}
      <br>
    </section>

    <section class="min-h-full snap-start">
      <h2 class="sticky-title">{{page.heading_2}}</h2>
      {%for ed in site.data.experiences.further_education reversed%}
      <div
        class="grid grid-cols-5 xl:grid-cols-6 w-full scroll-mt-14 xl:scroll-mt-24 snap-always snap-start col-gap"
      >
        <div class="max-xl:hidden grid col-span-2 xl:col-span-1 -mt-1">
          <div class="date">{{ed.year}}</div>
        </div>
        <div class="max-xl:hidden grid col-span-5">
          <div class="date xl:hidden">{{ed.year}}</div>
          <h3>{{ed.name}}</h3>
          <div>{{ed.company}}</div>
          <div>{{ed.street}}{%if ed.city%}, {{ed.city}}{%endif%}</div>
          <div class="-mt-1">
            {%if ed.info%}
            <details class="edjucation">
              <summary>{{page.summary_2}}</summary>
              <article class="pointer-events-auto">
                <ul class="pointer-events-none list-none">
                  {%for item in ed.info%}
                  <li>{{item | markdownify}}</li>
                  {%endfor%}
                </ul>
              </article>
            </details>
            {%endif%}
          </div>
        </div>
        <!-- smartphone -->
        <div
          class="hidden max-xl:block col-span-full mx-auto w-full hyphens-auto"
          lang="de"
        >
          <div class="date">{{ed.year}}</div>
          <h3>{{ed.name}}</h3>
          <div>{{ed.company}}</div>
          <div>{{ed.street}}{%if ed.city%}, {{ed.city}}{%endif%}</div>
          {%if ed.info%}
          <details class="-mt-4">
            <summary>{{page.summary_2}}</summary>
            <article class="pointer-events-auto">
              <ul class="pointer-events-none list-none">
                {%for item in ed.info%}
                <li>{{item | markdownify}}</li>
                {%endfor%}
              </ul>
            </article>
          </details>
          {%endif%}
        </div>
      </div>
      {%endfor%}
      <br>
    </section>

    <section class="snap-start">
      <h2 class="sticky-title">{{page.heading_3}}</h2>
      <div
        class="grid grid-cols-5 xl:grid-cols-6 w-full scroll-mt-14 xl:scroll-mt-24 snap-always snap-start col-gap"
      >
        <div class="max-xl:hidden grid col-span-2 xl:col-span-1">
          <div class="date">{{site.data.experiences.education[0].year}}</div>
        </div>
        <div class="grid col-span-3 xl:col-span-5">
          <div class="date xl:hidden">{{site.data.experiences.education[0].year}}</div>
          <h3>{{site.data.experiences.education[0].name}}</h3>
          <div>{{site.data.experiences.education[0].company}}</div>
          <div>{{site.data.experiences.education[0].street}}, {{site.data.experiences.education[0].city}}</div>
        </div>
      </div>
      <br>
    </section>

    <section class="snap-start">
      <h2 class="sticky-title">{{page.heading_4}}</h2>
      <div
        class="grid grid-cols-5 w-full scroll-mt-14 xl:scroll-mt-20 snap-always snap-start col-gap"
      >
      {%for school in site.data.experiences.schools%}
      <div class="max-xl:hidden grid col-span-2 xl:col-span-1 date">{{school.year}}</div>
      <div class="grid col-span-full">
        <div class="flex flex-col">
          <div class="date xl:hidden">{{school.year}}</div>
          <h3>{{school.name}}</h3>
          <div>{{school.city}}</div>
        </div>
        <br>
      </div>
      {%endfor%}
      </div>
    </section>

    <section class="snap-start">
      <h2 class="sticky-title">{{page.heading_5}}</h2>
      <div
        class="grid grid-cols-5 xl:grid-cols-6 w-full scroll-mt-14 xl:scroll-mt-24 snap-always snap-start col-gap"
      >
        {%for hobby in site.data.hobbies%}
        <h3 class="col-span-full">{{hobby.name}}</h3>
        {%if hobby.place%} {%for item in hobby.place%} {%if item.timespan%}
        <div class="col-span-2 date">{{item.timespan}}</div>
        {%endif%}
        {%if item.link%}
        <a
          href="{{item.link}}"
          target="_blank"
          class="{%if item.timespan%}col-span-3 xl:col-span-4{%else%}col-span-full{%endif%} w-fit after:no-underline! after:ml-2 after:content-['↗']"
          >{{item.label}}</a
        >
        {%else%}
        <div class="{%if item.timespan%}col-span-3 xl:col-span-4{%else%}col-span-full{%endif%}">{{item.label}}</div>
        {%endif%}
        {%endfor%} {%endif%}
        <br>
        {%endfor%}
      </div>
    </section>

    <section class="snap-start w-full flex flex-col mx-auto!">
      <h2 class="sticky-title">{{page.heading_6}}</h2>
      <div
        class="grid grid-cols-5 xl:grid-cols-6 w-full scroll-mt-14 xl:scroll-mt-24 snap-always snap-start col-gap"
      >
      {%for lang in site.data.languages%}
      <div class="grid col-span-2 xl:col-span-1">{{lang.name}}</div>
      <div class="grid col-span-3 xl:col-span-5">{{lang.level}}</div>
      {%endfor%}
      </div>
      <br>
    </section>
  </div>
</div>
