---
layout: default
header_title_1: Frank Wünsch
header_title_2: Digitale Bewerbungsmappe
has_header: yes
has_sidebar_left: yes
has_sidebar_right: no
heading_sidebar_left: Persönliche Daten
head_title: Lebenslauf
heading_1: Praktische Erfahrung
heading_2: Fort-und Weiterbildung
heading_3: Ausbildung
summary_1: Tätigkeitsbeschreibung
summary_2: Lerninhalte
contact_data: Kontaktdaten
---

<div class="pb-8 xl:pb-16 w-full h-full">
  <h1 class="h-12 xl:h-16">{{page.head_title}}</h1>
  <div class="w-full h-full overflow-y-auto snap-mandatory snap-y">
    <section class="min-h-full snap-start">
      <h2 class="sticky-title">{{page.heading_1}}</h2>
      {%for comp in site.data.experiences.companies reversed%}
      <div
        class="grid grid-cols-5 xl:grid-cols-6 w-full scroll-mt-14 xl:scroll-mt-20 snap-always snap-start col-gap"
      >
        <div class="grid col-span-2 xl:col-span-1 date">
          <div>{{comp.year}}</div>
        </div>
        <div class="grid col-span-3 xl:col-span-5">
          <h3>{{comp.name}}</h3>
          <div>{{comp.company}}</div>
          <div>{{comp.street}}</div>
          <div>{{comp.city}}</div>
          <div class="max-xl:hidden -mt-1">
            {%if comp.info%}
            <details class="comp">
              <summary>{{page.summary_1}}</summary>
              <article class="pointer-events-auto">
                <ul class="pointer-events-none list-none company">
                  {%for item in comp.info%}
                  <li>{{item | markdownify}}</li>
                  {%endfor%}
                </ul>
              </article>
            </details>
            {%endif%}
          </div>
        </div>
        <!-- smartphone -->
        <div
          class="hidden max-xl:block col-span-full mx-auto -mt-3 w-full hyphens-auto"
          lang="de"
        >
          {%if comp.info%}
          <details>
            <summary>{{page.summary_1}}</summary>
            <article class="pointer-events-auto">
              <ul class="pointer-events-none list-none company">
                {%for item in comp.info%}
                <li>{{item | markdownify}}</li>
                {%endfor%}
              </ul>
            </article>
          </details>
          {%endif%}
        </div>
      </div>
      {%endfor%}
    </section>
    <section class="min-h-full snap-start">
      <h2 class="sticky-title">{{page.heading_2}}</h2>
      {%for ed in site.data.experiences.further_education reversed%}
      <div
        class="grid grid-cols-5 xl:grid-cols-6 w-full scroll-mt-14 xl:scroll-mt-20 snap-always snap-start col-gap"
      >
        <div class="grid col-span-2 xl:col-span-1 date">
          <div>{{ed.year}}</div>
        </div>
        <div class="grid col-span-3 xl:col-span-5">
          <h3>{{ed.name}}</h3>
          <div>{{ed.company}}</div>
          <div>{{ed.street}}</div>
          <div>{{ed.city}}</div>
          <div class="max-xl:hidden -mt-1">
            {%if ed.info%}
            <details class="edjucation">
              <summary>{{page.summary_2}}</summary>
              <article class="pointer-events-auto">
                <ul class="pointer-events-none list-none">
                  {%for item in ed.info%}
                  <li>{{item | markdownify}}</li>
                  {%endfor%}
                </ul>
              </article>
            </details>
            {%endif%}
          </div>
        </div>
        <!-- smartphone -->
        <div
          class="hidden max-xl:block col-span-full -mt-3 w-full hyphens-auto"
          lang="de"
        >
          {%if ed.info%}
          <details>
            <summary>{{page.summary_2}}</summary>
            <article class="pointer-events-auto">
              <ul class="pointer-events-none list-none">
                {%for item in ed.info%}
                <li>{{item | markdownify}}</li>
                {%endfor%}
              </ul>
            </article>
          </details>
          {%endif%}
        </div>
      </div>
      {%endfor%}
    </section>
    <section class="snap-start">
      <h2 class="sticky-title">{{page.heading_3}}</h2>
      <div class="grid grid-cols-5 xl:grid-cols-6 w-full scroll-mt-14 xl:scroll-mt-20 snap-always snap-start col-gap">
        <div class="grid col-span-2 xl:col-span-1 date">
          <div>{{site.data.experiences.education[0].year}}</div>
        </div>
        <div class="grid col-span-3 xl:col-span-5">
          <h3>{{site.data.experiences.education[0].name}}</h3>
          <div>{{site.data.experiences.education[0].company}}</div>
          <div>{{site.data.experiences.education[0].street}}</div>
          <div>{{site.data.experiences.education[0].city}}</div>
        </div>
      </div>
    </section>
  </div>
</div>
