<!DOCTYPE html>
<html lang="de" class="w-full h-screen max-h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/src/fonts.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/src/output.css" />
    <script src="{{site.baseurl}}/src/js/show_hide_sidebar.js"></script>
    <script src="{{site.baseurl}}/src/js/details_handling.js"></script>
  </head>
  <body class="relative w-full h-full">
    {%if page.has_header%} {%include header.html%} {%endif%}
    <div class="flex flex-row bg-white w-full h-full">
      <aside
        class="max-2xl:hidden {%if page.has_sidebar_left%} bg-sidebar {%else%} opacity-0 {%endif%} flex-1 mt-20 xl:mt-40"
      >
        {%include left_sidebar.html%}
      </aside>
      <main
        id="content"
        class="relative xl:mx-auto px-8 max-xl:pb-24 max-xl:pl-8 w-full max-w-6xl h-full overflow-hidden {%if page.has_header%} pt-24 xl:pt-48 {%else%} pt-8 {%endif%}"
      >
        {{content}}
      </main>
      <aside
        class="max-2xl:hidden {%if page.has_sidebar_right%} bg-sidebar {%else%} opacity-0 {%endif%} flex-1"
      >
        {%include left_sidebar.html%}
      </aside>
    </div>
    {%if page.has_footer%}
    <footer>{%include footer.html%}</footer>
    {%endif%}
    <div class="hidden max-xl:block bottom-0 left-0 z-10 fixed bg-transparent w-full h-24">
      <div
        id="button-contact-data"
        class="hidden max-xl:block bg-sidebar mx-auto my-auto px-8 py-3 rounded-lg w-fit text-white text-lg translate-y-1/2"
      >
        {{page.contact_data}}
      </div>
    </div>
    <aside
      id="left-sidebar-small"
      class="hidden max-xl:block top-1/2 left-0 fixed bg-sidebar opacity-0 rounded-r-lg w-2/3 h-2/3 -translate-y-1/2 pointer-events-none transform"
    >
      {%include left_sidebar.html%}
    </aside>
  </body>
</html>
