<!DOCTYPE html>
<html lang="de" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}../src/fonts.css">
    <link rel="stylesheet" href="{{site.baseurl}}../src/output.css"/>
  </head>
  <body class="relative w-full h-full overflow-hidden">
    {%if page.has_header%}
      {%include header.html%}
    {%endif%}
    <div class="bg-blue-100 w-full h-full">
      {%if page.has_sidebar_left%}
      <aside class="w-full max-w-max">
        {%include left_sidebar.html%}
      </aside>
      {%endif%}
      <main class="relative mx-auto w-full max-w-6xl h-full overflow-hidden {%if page.has_header%} pt-48 {%else%} pt-8 {%endif%}">
        {{content}}
      </main>      
      {%if page.has_sidebar_right%}
      <aside class="w-full max-w-max">
        {%include right_sidebar.html%}
      </aside>
      {%endif%}
    </div>
    {%if page.has_footer%}
    <footer>
        {%include footer.html%}
    </footer>
    {%endif%}
  </body>
</html>
