@import "tailwindcss";

body {
  @apply font-['Spectral-ExtraLight'] text-neutral-700 text-sm xl:text-base;
}

h1 {
  @apply pb-4 xl:pb-8 font-['ZalandoSans'] text-cyan-700 text-xl xl:text-3xl;
}

h2 {
  @apply font-['ZalandoSans'] text-neutral-700 text-base xl:text-lg;
}

nav h2 {
  @apply px-4 xl:px-8 font-['ZalandoSans'] xl:font-normal font-bold text-amber-600 text-base xl:text-xl;
}

aside h2 {
  @apply text-inherit;
}

nav h2.italic {
  @apply font-['ZalandoSans-Italic'] xl:font-normal font-bold text-amber-500 text-base xl:text-xl;
}

nav a {
  @apply text-neutral-400!;
}

nav a.active {
  @apply text-neutral-700!;
}

h3 {
  @apply font-['Spectral-ExtraBold'];
}

div {
  @apply font-['Spectral-Medium'];
}

a {
  @apply underline underline-offset-1 cursor-pointer;
}

details {
  @apply pt-4 pb-2;
}

details summary::marker {
  @apply content-none;
}

details summary::-webkit-details-marker {
  @apply hidden;
}

details summary {
  @apply flex justify-between items-center pr-1 border-cyan-800/30 border-l-2 w-52 xl:w-64 border-b-2 border-r-2 py-1 xl:py-2 px-2 xl:px-4 hover:border-cyan-800 rounded-b-2xl transition-all ease-in-out duration-700 cursor-pointer;
}

details article {
  @apply mr-8 xl:mr-48 p-2 xl:p-4 text-inherit opacity-100 cursor-pointer border-b-2 border-l-2 hover:border-l-6 rounded-l-2xl border-cyan-800/30 hover:border-red-700 transition-all ease-in duration-500;
}

ul ul {
  @apply ml-2 pl-2 list-decimal list-outside;
}

ul.company ul {
  @apply ml-2.5 pl-2 list-disc list-outside;
}

.date {
  @apply font-['Spectral-ExtraLight'];
}

.col-gap {
  @apply my-4 xl:my-8;
}

.sticky-title {
  @apply top-0 sticky flex justify-center items-center bg-yellow-100 backdrop-blur-2xl p-2 xl:p-4 border-cyan-800 border-b-4 xl:border-b-6 rounded-b-2xl w-full;
}

.bg-sidebar {
  @apply bg-cyan-800;
}

#aside-right::-webkit-scrollbar {
  @apply hidden content-none;
}

#pers-info::-webkit-scrollbar {
  @apply hidden content-none;
}
