@import "tailwindcss";


body {
    @apply font-['Spectral-ExtraLight'] text-neutral-700 text-base;
}

h1 {
    @apply pb-4 xl:pb-8 font-['ZalandoSans'] text-cyan-700 text-3xl;
}

h2 {
    @apply font-['ZalandoSans'] text-cyan-700 text-lg;
}

nav h2 {
    @apply font-['ZalandoSans'] text-cyan-600 text-xl;
}

nav h2.italic {
    @apply font-['ZalandoSans-Italic'] text-cyan-500 text-xl;
}

h3 {
    @apply font-['Spectral-ExtraBold'];
}

div {
    @apply font-['Spectral-Medium'];
}

.date {
    @apply font-['Spectral-ExtraLight'];
}

.col-gap {
    @apply my-8;
}

.sticky-title {
    @apply top-0 sticky bg-sky-200 py-4 w-full;
}
