@import "tailwindcss";

body {
    @apply font-['Spectral-ExtraLight'] text-neutral-700 text-base;
}

h1 {
    @apply pb-4 xl:pb-8 font-['ZalandoSans'] text-cyan-700 text-xl xl:text-3xl;
}

h2 {
    @apply font-['ZalandoSans'] xl:font-normal font-bold text-neutral-700 text-base xl:text-lg;
}

nav h2 {
    @apply px-4 xl:px-8 font-['ZalandoSans'] xl:font-normal font-bold text-yellow-600 text-base xl:text-xl;
}

aside h2 {
    @apply text-inherit;
}

nav h2.italic {
    @apply font-['ZalandoSans-Italic'] xl:font-normal font-bold text-amber-500 text-base xl:text-xl;
}

h3 {
    @apply font-['Spectral-ExtraBold'];
}

div {
    @apply font-['Spectral-Medium'];
}

a {
    @apply underline underline-offset-1 cursor-pointer;
}

details {
    @apply pt-4 pb-2;
}

article {
    @apply bg-amber-50 mr-16 xl:mr-48 p-4 rounded-2xl text-inherit;
}

.date {
    @apply font-['Spectral-ExtraLight'];
}

.col-gap {
    @apply my-4 xl:my-8;
}

.sticky-title {
    @apply top-0 sticky flex justify-center items-center bg-amber-200 p-2 xl:p-4 w-full;
}

.bg-sidebar {
    @apply bg-sky-900;
}
