name: Jekyll site CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
  - uses: actions/checkout@v4
  
  # Image bauen
  - name: Build my-jekyll-python image
    run: docker build -t my-jekyll-python .

  # Container aus lokalem Image starten
  - name: Run container and build site
    run: docker run -v ${{ github.workspace }}:/app my-jekyll-python /bin/bash -c "pip install -r requirements.txt && jekyll build"

